<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%date{ISO8601}][%level][%thread][%logger{0}] %msg%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <springProfile name="!dev">
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>./logs/InAnalysis_%d{yyyy-MM-dd}.log.zip</fileNamePattern>
      </rollingPolicy>
      <encoder>
        <pattern>[%date{ISO8601}][%level][%thread][%logger{0}] %msg%n</pattern>
        <charset>UTF-8</charset>
      </encoder>
    </appender>
  </springProfile>


  <springProfile name="dev">
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>./logs/InAnalysis_%d{yyyy-MM-dd}.log.zip</fileNamePattern>
      </rollingPolicy>
      <encoder>
        <pattern>[%date{ISO8601}][%level][%thread][%logger{10}][%M:%L] %msg%n</pattern>
        <charset>UTF-8</charset>
      </encoder>
    </appender>
  </springProfile>

  <root level="WARN">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>