<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>InAnalysis</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

  <div th:replace="fragments/header :: header"></div>

  <div class="container-fluid">
    <div class="row">

      <!-- projectType=csvInfo.projectType -->
      <!-- SideBar -->
      <div class="col-md-2"
        th:if="${csvInfo.projectType.equals('abnormal-detection')||csvInfo.projectType.equals('regression')||csvInfo.projectType.equals('classification')}">
        <div th:replace="fragments/sidebar :: sidebar"></div>
      </div>

      <div class="col-md-2" th:if="${csvInfo.projectType.equals('clustering')}">
        <div th:replace="fragments/sidebar-noprediction :: sidebar"></div>
      </div>
      <!-- /SideBar -->

      <div th:if="${csvInfo}" class="col-md-10">

        <h3>
          Model Training
          <span class="badge" th:text="${csvInfo.server}">Server</span>
        </h3>
        <div class="well well-sm">
          File Name:
          <span class="label label-primary" th:text="${csvInfo.fileName}"></span>
        </div>

        <form method="POST" action="/algo">
          <input type="hidden" name="projectId" th:value="${csvInfo.projectId}"></input>
          <input type="hidden" name="fileId" th:value="${csvInfo.fileId}"></input>
          <input th:if="${defaultMap !=null}" type="hidden" name="modelMethod" th:value="${defaultMap.modelMethod}"></input>

          <!-- panel info--step1 select algo -->
          <div th:if="${algoSelect}" class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Step 1: Select Model Training Algorithm</h3>
            </div>

            <div class="panel-body">
              <!-- 
                select method -->
              <div class="form-group">
                <label for="modelMethodSelect">Model Training Algorithm</label>
                <!--                 
                <select id="modelMethodSelect" class="form-control" name="modelMethod"
                  th:field="*{trainingInput.modelMethod}"> 
                  -->
                <select id="modelMethodSelect" class="form-control" name="modelMethod">
                  <option th:each="modelMethod : ${algoSelect}" th:value="${modelMethod}" th:text="${modelMethod}">method
                    name</option>
                </select>
                <!-- /select method -->
              </div>
              <!-- /form-group -->

              <div class="form-group">
                <input type="submit" class="btn btn-warning" name="action" value="Cancel" />
                <input type="submit" class="showLoadingIcon btn btn-primary" name="action" value="Apply" />
              </div>

            </div>


          </div>
          <!-- /panel-info step1-->
          <!-- panel info--step2 show parameters -->
          <div th:if="${action == 'Apply' || action == 'Train' || action == 'Preview'|| action =='Predict'}"
            class="panel panel-info">
            <input th:if="${trainingInput !=null}" type="hidden" name="modelMethod"
              th:value="${trainingInput.modelMethod}"></input>
            <div class="panel-heading">
              <h3 class="panel-title">Step 2: Set Algorithm Parameters</h3>
            </div>

            <div class="panel-body">
              <!-- 
                select method -->

              <div th:each="default:${defaultMap.typeMap}">
                <div class="form-group">
                  <div class="form-inline">
                    <label for="arguments" th:if="${default.value.format.equals('select')}" th:text="${default.key}"></label>
                    <select id="paramValueSelect" th:if="${default.value.format.equals('select')}" class="form-control"
                      th:name="${default.key}">
                      <option th:each="value : ${default.value.range}" th:value="${value}" th:text="${value}">value</option>
                    </select>


                    <label for="arguments" th:if="${default.value.format.equals('text')}" th:text="${default.key}"></label>
                    <input th:if="${default.value.format.equals('text')}" type="text" class="form-control"
                      th:placeholder="${default.value.value}" th:name="${default.key}" th:value="${default.value.value}" />
                  </div>
                  <!-- /form-inline -->


                </div>
                <!-- /form-group -->
              </div>
              <div class="form-group">
                <label for="model-name">Model Name:</label>
                <input id="model-name" type="text" name="modelName" class="form-control"
                  th:placeholder="${defaultMap.modelName}" />
              </div>
              <!-- /parameter -->
              <div class="form-group">
                <input type="submit" class="btn btn-warning" name="action" value="Cancel" />
                <input type="submit" class="showLoadingIcon btn btn-primary" name="action" value="Train" />
              </div>

            </div>


          </div>
          <!-- /panel-info step2 show parameters -->
          <!-- panel-info step3 show training result -->
          <div th:if="${action == 'Train' || action == 'Preview' || action =='Predict' }" class="panel panel-info">
            <div th:if="${previewParam == null}">Training Error</div>

            <div class="panel-heading">
              <h3 class="panel-title">Step 3: Model Preview</h3>
            </div>

            <div class="panel-body">

              <div class="form-group">
                <div class="form-inline">
                  <label>X-coordinate</label>
                  <select class="form-control" name="x" th:field="*{previewParam.x}">
                    <option th:each="columnName : ${csvInfo.columnNames}" th:value="${columnName}"
                      th:text="${columnName}">Column Name</option>
                  </select>

                  <label>Y-coordinate</label>
                  <select th:if="${csvInfo.projectType.equals('regression')}" class="form-control" name="y" th:field="*{previewParam.y}">
                     <option th:value="${csvInfo.label}" th:text="${csvInfo.label}">Regression Label</option>
                  </select>
                  <select th:if="${csvInfo.projectType.equals('abnormal-detection')||csvInfo.projectType.equals('clustering')||csvInfo.projectType.equals('classification')}" class="form-control" name="y" th:field="*{previewParam.y}">
                    <option th:each="columnName : ${csvInfo.columnNames}" th:value="${columnName}"
                      th:text="${columnName}">Column Name</option>
                  </select>
                  <input type="hidden" name="modelId" th:value="${modelId}"></input>
                  <input type="submit" class="showLoadingIcon btn btn-primary" name="action" value="Preview" />
                </div>
              </div>

              <div th:if="${imageUrl}">
                <img class="img-responsive" th:src="${imageUrl}" />
              </div>

            </div>

          </div>
          <!-- /panel-Plot -->


          <!-- /panel-info step3 show training result -->
          <!-- predict result fragment -->
          <div th:if="${predictOutput!=null && action == 'Preview'}" class="panel panel-info">
            <div th:if="${csvInfo.projectType.equlas('regression')}"
              th:replace="modelpredict/regression-predict :: header"></div>
            <div th:if="${csvInfo.projectType.equlas('classification')}"
              th:replace="modelpredict/classification-predict :: header"></div>
            <div th:if="${csvInfo.projectType.equlas('abnormal-detection')}"
              th:replace="modelpredict/abnormal-detection-predict :: header"></div>
          </div>
          <!-- /predict result fragment -->
        </form>
      </div>
      <!-- /setting Attributes -->

      <!-- preview -->
      <!-- /preview/panel-Plot -->

    </div>
    <!-- /row -->

  </div>
  <!-- end container -->

  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <div th:replace="fragments/sidebar :: sidebar-js"></div>
</body>
</html>
