<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>InAnalysis</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>



  <div id="container" class="container-fluid">
    <div class="row">

      <!-- Main -->
      <div id="mainCol" class="col-md-10">

        <!-- After Data Pre-process File List Panel -->
        <div th:fragment="header" th:if="${featureSelectionFileList.size() > 0}" class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title">Feature Selection Stage</h3>
          </div>

          <div class="panel-body">

            <form method="POST" autocomplete="off" action="/merge">
              <input type="hidden" name="stage" value="feature-selection"></input>

              <div th:if="${featureSelectionMessage}" class="alert alert-info" role="alert">
                <p th:text="${featureSelectionMessage}"></p>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered" id="feature-selection-file-list">
                  <thead>
                    <tr>
                      <th>File Name</th>
                      <th>Actions</th>
                      <th>
                        <i class="fa fa-server" aria-hidden="true"></i>
                        Server
                      </th>
                      <th>Row</th>
                      <th>Column</th>
                      <th>Label</th>
                      <th>Function</th>
                      <th>Preview</th>
                      <th>Download</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="fileInfo : ${featureSelectionFileList}">
                      <td th:text="${fileInfo.fileName}">File Name</td>

                      <!-- Actions TD -->
                      <td>
                        <a data-toggle="modal" th:data-target="${'#modal'+fileInfo.fileId}">
                          <i class="fa fa-history fa-lg" aria-hidden="true"></i>
                        </a>
                        <div class="modal fade bs-example-modal-lg" th:id="${'modal'+fileInfo.fileId}" tabindex="-1"
                          role="dialog">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header bg-primary">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <h3 class="modal-title">
                                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                  <span th:text="${fileInfo.fileName}"></span>
                                  Actions
                                </h3>
                              </div>
                              <div class="modal-body">
                                <ol>
                                  <li th:each="action : ${fileInfo.actions}"
                                    th:text="${T(com.insnergy.util.CsvActionStringBuilder).actionToString(action)}"></li>
                                </ol>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>

                      <td th:text="${fileInfo.server}">Server</td>
                      <td th:text="${fileInfo.row}">Row</td>
                      <td th:text="${fileInfo.column}">Column</td>

                      <td th:if="${fileInfo.label!=''}">
                        <span class="label label-info" th:text="${fileInfo.label}">Label</span>
                      </td>
                      <td th:if="${fileInfo.label.equals('')}">
                        <span class="label label-info">No Label</span>
                      </td>

                      <td>
                        <a class="btn btn-primary btn-xs"
                          th:href="${(#mvc.url('DPPC#toDataPreprocessPage').arg(0, fileInfo.projectId).arg(1,fileInfo.fileId)).build()}"
                          data-toggle="tooltip" data-placement="bottom" title="Click to do preprocessing"> Data
                          Pre-processing</a>
                        <a class="btn btn-success btn-xs"
                          th:href="${(#mvc.url('FSC#toFeatureSelectionPage').arg(0, fileInfo.projectId).arg(1,fileInfo.fileId)).build()}"
                          data-toggle="tooltip" data-placement="bottom" title="Click to do feature selection">Feature
                          Selection</a>
                        <!-- TODO  toTrainingPage-->
                        <a class="btn btn-primary btn-xs"
                          th:href="${(#mvc.url('MTPC#toShowAlgoPage').arg(0, fileInfo.projectId).arg(1,fileInfo.fileId)).build()}"
                          data-toggle="tooltip" data-placement="bottom" title="Click to do model training">Model
                          Training</a>

                      </td>

                      <td>
                        <a class="showLoadingIcon btn btn-default btn-xs"
                          th:href="${(#mvc.url('DVC#toDataViewerPage').arg(0, fileInfo.projectId).arg(1, fileInfo.fileId)).build()}"
                          data-placement="bottom" title="Click to preview data">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                      </td>

                      <td>
                        <a class="btn btn-info btn-xs" th:href="${fileInfo.downloadUrl}" aria-label="Download">
                          <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                        </a>
                      </td>
                      <td>
                        <a class="showLoadingIcon btn btn-danger btn-xs" th:href="${fileInfo.deleteUrl}"
                          aria-label="Delete">
                          <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
        <!-- /After Data Pre-process File List Panel -->

      </div>
      <!-- /Main -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <div th:replace="fragments/sidebar :: sidebar-js"></div>
</body>
</html>