<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

  <div id="sidebar" th:fragment="sidebar">
    <ul class="nav list-group">
      <li>
        <a id="sidebar-data-input" class="list-group-item" data-toggle="modal" data-target="#csv-limitation-modal">
          <i class="fa fa-file-archive-o" aria-hidden="true"></i>
          Data Input
        </a>
        <!-- Modal About CSV Format Limitation -->
        <div class="modal fade bs-example-modal-lg" id="csv-limitation-modal" tabindex="-1" role="dialog"
          aria-labelledby="csvLimitationModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="csvLimitationModalLabel">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  About Data Input: CSV Format Limitation
                </h2>
              </div>
              <div class="modal-body">
                <h3>Requirements</h3>
                <div>
                  <ol>
                    <li>
                      <p>Input CSV file is a delimited data format that has fields/columns separated by "," and
                        records/rows terminated by newlines.</p>
                      <p>CSV Example:</p>
                      <p>
                        <img src="/images/csv_format_csv.png" th:src="@{/images/csv_format_csv.png}"
                          class="img-responsive" />
                      </p>
                    </li>
                    <li>
                      <p>First column must be the name of the feature.</p>
                    </li>
                    <li>
                      <p>Only allow English characters and numbers.</p>
                    </li>
                    <li>
                      <p>The CSV example showed above refer to the sample data in Excel.</p>
                      <p>
                        <img src="/images/csv_format.png" th:src="@{/images/csv_format.png}" class="img-responsive" />
                      </p>
                    </li>
                  </ol>
                </div>
                <div class="bg-danger">
                  <h4 class="text-danger">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    Notes
                  </h4>
                  <p>Our system loads a CSV by pandas.read_csv (All parameters are set to default value).</p>
                </div>

                <a href="https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html" target="_blank">More
                  Information: pandas.read_csv</a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <a id="sidebar-data-preprocessing" class="list-group-item" data-toggle="modal"
          data-target="#data-preprocessing-modal">
          <i class="fa fa-bar-chart" aria-hidden="true"></i>
          Data Pre-processing
        </a>
        <!-- Modal About Data Preprocessing -->
        <div class="modal fade bs-example-modal-lg" id="data-preprocessing-modal" tabindex="-1" role="dialog"
          aria-labelledby="dataPreprocessingModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="dataPreprocessingModalLabel">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  About Data Pre-processing
                </h2>
              </div>
              <div class="modal-body">
                <h3>Why pre-processing?</h3>
                <ol>
                  <li>
                    Real world data are generally
                    <ul>
                      <li>Incomplete: lacking attribute values, lacking certain attributes of interest, or
                        containing only aggregate data.</li>
                      <li>Noisy: containing errors or outliers.</li>
                      <li>Inconsistent: containing discrepancies in codes or names.</li>
                    </ul>
                  </li>
                  <li>
                    Tasks in data pre-processing
                    <ul>
                      <li>Data cleaning: fill in missing values, smooth noisy data, identify or remove outliers,
                        and resolve inconsistencies.</li>
                      <li>Data integration: using multiple databases, data cubes, or files.</li>
                      <li>Data transformation: normalization and aggregation.</li>
                      <li>Data reduction: reducing the volume but producing the same or similar analytical results.</li>
                      <li>Data discretization: part of data reduction, replacing numerical attributes with nominal
                        ones.</li>
                    </ul>
                  </li>
                </ol>
                <h3>Definition</h3>
                <p>Data pre-processing is a data mining technique that involves transforming raw data into an
                  understandable format. Real-world data is often incomplete, inconsistent, and/or lacking in certain
                  behaviors or trends, and is likely to contain many errors. Data pre-processing is a proven method of
                  resolving such issues. Data pre-processing prepares raw data for further processing.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <a id="sidebar-feature-selection" class="list-group-item" data-toggle="modal"
          data-target="#feature-selection-modal">
          <i class="fa fa-database" aria-hidden="true"></i>
          Feature Selection
        </a>
        <!-- Modal About Feature Selection -->
        <div class="modal fade bs-example-modal-lg" id="feature-selection-modal" tabindex="-1" role="dialog"
          aria-labelledby="featureSelectionModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="featureSelectionModalLabel">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  About Feature Selection
                </h2>
              </div>
              <div class="modal-body">
                <h3>Definition</h3>
                <p>Feature selection is critical to building a good model for several reasons. One is that feature
                  selection implies some degree of cardinality reduction, to impose a cutoff on the number of attributes
                  that can be considered when building a model. Data almost always contains more information than is
                  needed to build the model, or the wrong kind of information. For example, you might have a dataset
                  with 500 columns that describe the characteristics of customers; however, if the data in some of the
                  columns is very sparse you would gain very little benefit from adding them to the model, and if some
                  of the columns duplicate each other, using both columns could affect the model.</p>
                <h3>Usage</h3>
                <p>Feature selection is an important part of machine learning. Feature selection refers to the
                  process of reducing the inputs for processing and analysis, or of finding the most meaningful inputs.
                  A related term, feature engineering (or feature extraction), refers to the process of extracting
                  useful information or features from existing data.</p>
                <div class="bg-danger">
                  <h4 class="text-danger">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    Notes
                  </h4>
                  <p>Feature selection affects only the columns that are used in the model, and has no effect on
                    storage of the mining structure. The columns that you leave out of the mining model are still
                    available in the structure, and data in the mining structure columns will be cached.</p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a id="sidebar-model-training" class="list-group-item" data-toggle="modal" data-target="#model-training-modal">
          <i class="fa fa-area-chart" aria-hidden="true"></i>
          Model Training
        </a>
        <!-- Modal About Model Training -->
        <div class="modal fade bs-example-modal-lg" id="model-training-modal" tabindex="-1" role="dialog"
          aria-labelledby="modelTrainingModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="modelTrainingModalLabel">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  About Model Training
                </h2>
              </div>
              <div class="modal-body">
                <h3>Definition</h3>
                <p>The Data Mining Model Training destination trains data mining models by passing the data that the
                  destination receives through the data mining model algorithms. Multiple data mining models can be
                  trained by one destination if the models are built on the same data mining structure.</p>
                <div class="bg-danger">
                  <h4 class="text-danger">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    Notes
                  </h4>
                  <p>The input to the Data Mining Model training destination must be sorted. To sort the data, you
                    can include a Sort destination upstream from the Data Mining Model Training destination in the data
                    flow.</p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <a id="sidebar-model-prediction" class="list-group-item" data-toggle="modal"
          data-target="#model-prediction-modal">
          <i class="fa fa-industry" aria-hidden="true"></i>
          Model Prediction
        </a>
        <!-- Modal About Model Prediction -->
        <div class="modal fade bs-example-modal-lg" id="model-prediction-modal" tabindex="-1" role="dialog"
          aria-labelledby="modelPredictionModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="modelPredictionModalLabel">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  About Model Prediction
                </h2>
              </div>
              <div class="modal-body">
                <h3>Definition</h3>
                <p>
                  Predictive modeling uses statistics to predict outcomes.Most often the event one wants to predict is
                  in the future, but predictive modeling can be applied to any type of unknown event, regardless of when
                  it occurred. For example, predictive models are often used to detect crimes and identify suspects,
                  after the crime has taken place.In many cases the model is chosen on the basis of detection theory to
                  try to guess the probability of an outcome given a set amount of input data.
                  <br />
                  Depending on definitional boundaries, predictive modeling is synonymous with, or largely overlapping
                  with, the field of machine learning, as it is more commonly referred to in academic or research and
                  development contexts. When deployed commercially, predictive modelling is often referred to as
                  predictive analytics.
                </p>
                <h3>Prediction Example</h3>
                <p>Following are the examples of cases where the data analysis task is Prediction</p>
                <p>
                  <em>Suppose the marketing manager needs to predict how much a given customer will spend during a
                    sale at his company. In this example we are bothered to predict a numeric value. Therefore the data
                    analysis task is an example of numeric prediction. In this case, a model or a predictor will be
                    constructed that predicts a continuous-valued-function or ordered value.</em>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <script th:inline="javascript" th:fragment="sidebar-js">
      /*<![CDATA[*/
        
      <!-- active sidebar item -->
      var sidebarActiveId = /*[[${sidebarActiveId}]]*/null;
      if (sidebarActiveId != null) {
        $(document).ready(function() {
          $("#" + sidebarActiveId).addClass("list-group-item-info");
        });
      }
      
      <!-- show loading icon -->
      var loadingIconDiv = $('<div id="loader-wrapper"><div id="loader"></div><div id="word">InAnalysis</div></div>');
      $(document).ready(function() {
        $(".showLoadingIcon").click(function(){
          $("head").append('<link href="/css/loadingIcon.css" rel="stylesheet" />');
          $("body").append(loadingIconDiv);
        });
      });
      
      <!-- show tooltip -->
      $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
      });
      
      /*]]>*/
    </script>
</body>
</html>