<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>InAnalysis Error Page</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

  <div th:replace="fragments/header :: header"></div>

  <div class="container-fluid">
    <div class="row">

      <!-- SideBar -->
      <div class="col-md-2">
        <div th:replace="fragments/sidebar :: sidebar"></div>
      </div>
      <!-- /SideBar -->

      <!-- Main -->
      <div class="col-md-10" th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
        <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
        <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
        <a href="/">Back to Home Page</a>
      </div>
      <!-- /Main -->

    </div>
  </div>
  <!-- /container -->

  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <div th:replace="fragments/sidebar :: sidebar-js"></div>
</body>
</html>