<!DOCTYPE html>

<!-- InPossible_Logos_04-01.jpg -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>InPossible</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<style type="text/css">
/*

*/
.jumbotron {
	background: url('../images/make_money.jpg') 0 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: unset;
	background-color: black;
	color: white;
	margin-bottom: 50px;
}

.feature h2 {
	font-family: "Lucida Console";
	color: white;
}
</style>
</head>
<body>

  <div id="container" class="container">

    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation">
            <a href="/">Home</a>
          </li>
          <li role="presentation" class="active">
            <a href="#">About</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">InPossible</h3>
    </div>

    <div class="jumbotron">
      <h3>Intelligence make everything possible!</h3>
      <p class="lead">Let's make money</p>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="img-fluid" src="images/alice.png" alt="">
        <p align="center">Alice</p>
      </div>
      <div class="col-md-3">
        <img class="img-fluid" src="images/coco.png" alt="">
        <p align="center">Coco</p>
      </div>
      <div class="col-md-3">
        <img class="img-fluid" src="images/swanky.png" alt="">
        <p align="center">Swanky</p>
      </div>
      <div class="col-md-3">
        <img class="img-fluid" src="images/mark.png" alt="">
        <p align="center">Mark</p>
      </div>
    </div>


    <footer class="text-right">
      <p>Copyright &copy; InPossible | Designed by Alice</p>
    </footer>

  </div>


  <!-- /container -->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>


</body>
</html>