<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>InAnalysis</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
  <div th:replace="fragments/header :: header"></div>
  <form method="POST" action="api-management">
    <input type="hidden" name="actionFrom" th:value="api" />
    <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> <input type="hidden"
      name="userId" th:value="${userId}" /> -->

    <div id="container" class="container">
      <div class="row">

        <!-- Main -->
        <div id="mainCol" class="col-md-12">
          <h3>API Management</h3>

          <div th:if="${apis != null}" class="table-responsive">
            <table class="table table-bordered table-striped" id="data-preprocess-file-list">
              <thead>
                <tr>
                  <th>API Name</th>
                  <th>API Description</th>
                  <th>More Info</th>
                  <th>
                    <!-- <a class="showLoadingIcon btn btn-warning btn-xs" aria-label="Edit">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a> -->
                    Update

                  </th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="api : ${apis}">
                  <td th:text="${api.apiName}">API Name</td>
                  <td th:text="${api.apiDescription}">API Description</td>
                  <!--  -->
                  <!-- info -->
                  <td>

                    <a class="btn btn-info btn-xs" th:href="${(#mvc.url('AIC#toApiInfoPage').arg(0,api.apiId)).build()}"
                      data-toggle="tooltip" data-placement="bottom" title="Click to see API Information">
                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </a>
                  </td>
                  <!-- /info -->
                  <!-- Actions TD -->

                  <!--  
                  <td>
                    <i class="fa fa-map" aria-hidden="true"></i>
                  </td> -->

                  <td>
                    <a class="btn btn-primary btn-xs"
                      th:href="${(#mvc.url('AUC#toUpdateApiPage').arg(0,api.apiId)).build()}" data-toggle="tooltip"
                      data-placement="bottom" title="Click to reset API Attribute">Edit API</a>
                  </td>
                  <td>
                    <a class="showLoadingIcon btn btn-danger btn-xs" aria-label="Delete" th:href="${api.deleteUrl}">
                      <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                    </a>
                  </td>

                </tr>
              </tbody>
            </table>




          </div>
          <!-- /div th:if="${apis != null}" -->

          <!-- /form -->
        </div>
        <!-- /main -->

      </div>
      <!-- /container -->
    </div>
    <!-- /row -->
  </form>



  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

  <div th:replace="fragments/sidebar :: sidebar-js"></div>
</body>
</html>