<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>InAnalysis</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
  <div th:replace="fragments/header :: header"></div>
  <div id="container" class="container">
    <div class="row">

      <!-- Main -->
      <div id="mainCol" class="col-md-12">
        <form method="POST" action="/api-info">
          <!--  <input type="hidden" th:if="" name="back" th:value="api-management" />
          <input type="hidden" th:if="" name="back" th:value="user-management" />
-->


          <h3></h3>



          <!-- - -->
          <!-- SHOW API 
         -->

          <!-- PANEL SHOW API EXAMPLE -->
          <!-- error
          <div th:if="${initial== null && action != 'Save'}" class="form-group">
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <p>fail to make API</p>
            </div>
          </div>
 -->


          <div th:if="${api}" class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <i class="fa fa-window-maximize" aria-hidden="true"></i>
                Show API Info
              </h3>
            </div>
            <div>
              <div class="panel-body">
                <div>
                  <p>
                    <label for="showApiName">API name:</label>

                    <span class="label label-info" th:text="${api.apiName}"></span>
                  </p>
                  <p>
                    <label for="showApiPath">API path:</label>
                    <kbd th:text="${pythonServerUrl}+${api.apiPath}"> </kbd>
                  </p>

                  <label for="showApiOutput">API Input Json</label>
                  <pre class="pre-scrollable" th:text="${api.inputJson}"></pre>

                  <label for="showApiOutput">API Output Json</label>
                  <pre class="pre-scrollable" th:text="${api.outputJson}"></pre>



                </div>



              </div>
              <!-- /panel body -->


            </div>
            <!-- /div th:if -->

          </div>
          <!-- /panel .equals(' -->
          <div class="form-group">
            <input type="submit" class="btn btn-primary" name="action" value="Back" />
          </div>


        </form>
        <!-- /FORM -->
      </div>
      <!-- /MAIN COL-10 -->

    </div>
    <!-- /ROW -->
  </div>
  <!-- /container -->



  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <div th:replace="fragments/sidebar :: sidebar-js"></div>
</body>
</html>