<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>InAnalysis</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

  <div th:replace="fragments/header :: header"></div>

  <div id="container" class="container">
    <div class="row">
      <div class="col-md-12">
        <a class="btn btn-info btn-lg" href="https://inanalysis.github.io/">InAnalysis Documentation</a>
        <h3>Sample Data</h3>
        <ol>
          <li>
            Data for abnormal-detection:
            <a href="/sample-data/training-data/abnormal/forestfires/forestfires_training.csv">training data</a>
            ,
            <a href="/sample-data/test-data/abnormal/forestfires-test-data/forestfires-test-data.csv">test data</a>
          </li>
          <li>
            Data for regression:
            <a href="/sample-data/training-data/regression/boston/boston-train.csv">training data</a>
            ,
            <a href="/sample-data/test-data/regression/boston/boston-label-price.csv">test data</a>
          </li>
          <li>
            Data for classification:
            <a href="/sample-data/training-data/classification/iris/iris_train.csv">training data</a>
            ,
            <a href="/sample-data/test-data/classification/iris-label-species/iris-label-species.csv">test data</a>
          </li>
          <li>
            Data for clustering:
            <a href="/sample-data/training-data/clustering/iris/iris-train-nolabel.csv">training data</a>
          </li>
          <li>
            Download All:
            <a href="/sample-data/public-data.zip">zip file</a>
          </li>
        </ol>
        <h3>Machine Learning Canvas</h3>
        <ol>

          <li>
            <a href="https://goo.gl/Hek2N9">template</a>
          </li>
        </ol>

      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->

  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <div th:replace="fragments/sidebar :: sidebar-js"></div>
</body>
</html>