<!DOCTYPE html>

<!-- InPossible_Logos_04-01.jpg -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>InPossible</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<style type="text/css">
/*

*/
.jumbotron {
	background: url('../images/make_money.jpg') 0 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: unset;
	background-color: black;
	color: white;
	margin-bottom: 50px;
}

.feature h2 {
	font-family: "Lucida Console";
	color: white;
}

.box {
	width: 100px;
	height: 100px;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 1s;
}

.card {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 50px;
}

.front {
	background-image: url('../images/logo_ip_mini.jpg');
	background-position: -6px -6px;
}

.back {
	transform: rotateY(180deg);
	background-image: url('../images/logo_ip_mini.jpg');
	background-position: -6px -6px;
}

.flipped {
	transform: rotateY(180deg);
}
</style>
</head>
<body>

  <div id="container" class="container">

    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active">
            <a href="#">Home</a>
          </li>
          <li role="presentation">
            <a href="/about">About</a>
          </li>
        </ul>
      </nav>
      <div class="box">
        <div class="card front"></div>
        <div class="card back"></div>
      </div>

     
    </div>
    <div class="jumbotron">
     <h1 class="text-muted">InPossible</h1>
      <h3>Intelligence make everything possible!</h3>
      <p class="lead">Let's make money</p>
    </div>


    <div class="row">
      <div id="mainCol" class="col-md-12">
        <form method="POST" action="/inpossible">
          <!-- <input type="hidden" th:if="${imageUrl!=null}" name="imageUrl" th:value="${imageUrl}" /> -->



          <!-- --******************COIN************************************ -->
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <i class="fa fa-money" aria-hidden="true"></i>
                Choose Coin
              </h3>
            </div>
            <div>
              <div class="panel-body">
                <div>
                  <div class="form-inline">
                    <label for="coin">Coin</label>
                    <select id="coin" class="form-control" name="coin">
                      <option value="BTC/USD">BTC/USD</option>
                      <option value="LTC/USD">LTC/USD</option>
                    </select>
                    <label for="zoom">Zoom</label>
                    <select id="zoom" class="form-control" name="zoom">
                      <option value="hour">Hour</option>
                      <option value="day">Day</option>
                      <option value="month">Month"</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- /panel body -->
            </div>
            <!-- /div th:if -->
          </div>
          <!-- /panel-info -->

          <!-- --******************MA************************************ -->
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <i class="fa fa-window-maximize" aria-hidden="true"></i>
                Statistics Analysis
              </h3>
            </div>
            <div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="feature-selection-list">
                    <thead>
                      <tr>
                        <th>Show</th>
                        <th>Algorithm</th>
                        <th>Period</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="custom-checkbox">
                            <input type="checkbox" name="ma_algorithm" value="SMA" />
                          </div>
                        </td>
                        <td>Simple Moving Average, SMA</td>
                        <td>
                          <select class="form-control" name="SMA_period" id="period">
                            <option value="30">30min</option>
                            <option value="60">1h</option>
                            <option value="120">2h</option>
                          </select>
                        </td>

                      </tr>

                      <tr>
                        <td>
                          <div class="custom-checkbox">
                            <input type="checkbox" name="ma_algorithm" value="EMA" />
                          </div>
                        </td>
                        <td>Exponential Moving Average, EMA</td>
                        <td>
                          <select class="form-control" name="EMA_period" id="period">
                            <option value="30">30min</option>
                            <option value="60">1h</option>
                            <option value="120">2h</option>
                          </select>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              <!-- /panel body -->
            </div>
            <div class="form-inline">
              <input type="submit" class="showLoadingIcon btn btn-primary" name="action" value="Refresh"></input>
            </div>
            <!-- /div th:if -->
          </div>

          <!-- /panel-info -->

          <!-- --******************ML************************************ -->
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                Machine Learning Forecast
              </h3>
            </div>
            <div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="feature-selection-list">
                    <thead>
                      <tr>
                        <th>Algorithm</th>
                        <th>Time</th>
                        <th>RMS</th>
                        <th>Accuracy</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Linear Regression</td>
                        <td>2017-12-19-15:00</td>
                        <td>1.5</td>
                        <td>95%</td>

                      </tr>

                      <tr>
                        <td>Polynomial Regression</td>
                        <td>2017-12-19-15:00</td>
                        <td>1.3</td>
                        <td>90%</td>
                      </tr>



                    </tbody>
                  </table>
                </div>
              </div>
              <!-- /panel body -->
            </div>
            <!-- /div th:if -->
          </div>
          <!-- /panel-info -->

          <div></div>

        </form>
        <!-- --******************IMAGE************************************ -->
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-window-maximize" aria-hidden="true"></i>
              Chart
            </h3>
          </div>
          <div>
            <div class="panel-body">
              <div th:if="${imageUrl}">
                <img class="img-responsive" th:src="${imageUrl}" />
                <a th:href="${imageUrl}" target="_blank">
                  Download Image
                  <i class="fa fa-download" aria-hidden="true"></i>
                </a>
              </div>
              <div th:if="${imageUrl==null}">
                <img th:if="${imageUrl==null}" class="img-responsive" src="/images/bitcoin.jpg" />
              </div>
            </div>
            <!-- /panel body -->
          </div>
          <!-- /div  -->
        </div>
        <!-- /panel-info -->
      </div>
      <!-- /col -->


    </div>

    <footer class="text-right">
      <p>Copyright &copy; InPossible | Designed by Alice</p>
    </footer>

  </div>


  <!-- /container -->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <script>
			$('#select_all').change(function() {
				var checkboxes = $(this).closest('form').find(':checkbox');
				checkboxes.prop('checked', $(this).is(':checked'));
			});
		</script>
  <script type="text/javascript">
			setTimeout(function() {
				location = ''
			}, 60000)
		</script>

  <script type="text/javascript">
			setTimeout(function() {
				$(".box").toggleClass("flipped")
			}, 100)
		</script>
  <script type="text/javascript">
			$(".box").hover(function(event) {
				$(this).toggleClass("flipped");
			})
		</script>

</body>
</html>