<!DOCTYPE html>

<!-- InPossible_Logos_04-01.jpg -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>InPossible</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<style type="text/css">
/*

*/
.feature {
	background: url('../images/InPossible_Logos_04-01.jpg') 0 0 repeat;
	background-position: top;
	background-size: cover;
	background-color: white;
	color: #dd845a;
	text-shadow: 2px 1px 10px white;
}

.img-responsive {
	height: 100px;
	width: 100px;
}

.jumbotron {
	padding-top: 50px;
	padding-bottom: 100px;
	margin-bottom: 30px;
}

.feature h2 {
	font-family: "Lucida Console";
	color: white;
}
</style>
</head>
<body>

	<div id="container" class="container">

		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active">
						<a href="#">Home</a>
					</li>
					<li role="presentation">
						<a href="#">About</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">InPossible</h3>
		</div>

		<div class="jumbotron">
<h3>Intelligence make everything possible!</h3>
			<p class="lead">Let's make money</p>
		</div>

		<div class="row marketing">
			<div class="col-lg-6">
				<h4>Subheading</h4>
				<img class="img-responsive" src="../images/InPossible_Logos_06-01.jpg"></img>

				<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

				<h4>Subheading</h4>
				<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
					fermentum.
				<h4>Subheading</h4>
				<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
			</div>

			<div class="col-lg-6">
				<h4>Test</h4>
				<img class="img-responsive" src="../images/InPossible_Logos_05-01.jpg"></img>

				<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

				<h4>Test</h4>
				<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
					fermentum.</p>

				<h4>Test</h4>
				<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
			</div>
		</div>

		<footer class="text-right">
			<p>Copyright &copy; InPossible | Designed by Alice</p>
		</footer>

	</div>


	<!-- /container -->
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<div th:replace="fragments/sidebar :: sidebar-js"></div>
</body>
</html>