<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>InAnalysis</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
  <div th:replace="fragments/header :: header"></div>
  <div id="container" class="container">
    <div class="row">

      <!-- Main -->
      <div id="mainCol" class="col-md-12">
        <form method="POST" action="/make-api">
          <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
          <input type="hidden" name="projectId" th:value="${project.id}" />
          <input type="hidden" name="modelId" th:value="${modelId}" />
          <h3></h3>
          <div class="panel panel-info" th:if="${initial}">
            <div class="panel-heading">
              <h3 class="panel-title">
                <i class="fa fa-cog" aria-hidden="true"></i>
                Set API
              </h3>
            </div>




            <!-- name * description -->

            <!-- <input id="degree" type="text" class="form-control" placeholder="set degree"
                    th:field="*{trainingInput.argument.degree}" /> -->
            <div class="panel-body">
              <div class="form-group">
                <label for="apiName">API Name</label>
                <input id="apiName" type="text" class="form-control" name="apiName" placeholder="API name(Requird)"
                  th:field="*{makeApiParam.apiName}" />
                <label for="apiDescription">API Description:</label>
                <input id="apiDescription" type="text" class="form-control" name="apiDescription"
                  placeholder="API description(Requird)" th:field="*{makeApiParam.apiDescription}" />

              </div>
              <!-- /API name * description form-group -->

              <!-- API INPUT -->
              <div class="well form-group">
                <!-- check makeApi input -->
                <label for="inputFeature">API Input</label>

                <div th:each="input : ${makeApiParam.inputFormats}" class="form-group row">
                  <input type="hidden" name="inputFeatureNameList" th:value="${input.featureName}" />
                  <input type="hidden" name="inputTypeList" th:value="${input.type}" />

                  <div class="col-md-5 col-md-offset-1">
                    <label th:text="${input.featureName}">feature name</label>
                    <span class="label label-warning" th:text="${input.type}"></span>
                    <input class="form-control" id="user_define_feature_name" type="text"
                      name="inputUserDefineFeatureNameList" th:value="${input.userDefineFeatureName}"
                      placeholder="feature name(Optional)">

                  </div>
                  <div class="col-md-5">
                    <label for="description">Description</label>
                    <input class="form-control" id="description" type="text" name="inputDescriptionList"
                      th:value="${input.description}" placeholder="description(Optional)">

                  </div>
                </div>
              </div>
              <!-- //API INPUT -->

              <!-- API OUTPUT -->
              <div th:if="${makeApiParam.outputFormats != null}" class="well form-group">

                <label for="apiOutput">API Output</label>

                <div th:each="output : ${makeApiParam.outputFormats}" class="form-group row">
                  <input type="hidden" name="outputNameList" th:value="${output.outputName}" />

                  <div class="col-md-5 col-md-offset-1">
                    <label>Output: </label>
                    <span class="label label-info">string</span>
                    <p th:text="${output.outputName}"></p>
                    <input class="form-control" id="user_define_output_name" type="text"
                      name="outputUserDefineOutputName" th:value="${output.userDefineOutpuName}"
                      placeholder="output name(Optional)">
                  </div>
                  <div class="col-md-5">
                    <label for="description">Description</label>
                    <input class="form-control" id="description" type="text" name="outputDescriptionList"
                      th:value="${output.description}" placeholder="description(Optional)">

                  </div>
                </div>

              </div>
              <!-- /API OUTPUT -->

              <div class="form-inline">
                <input type="submit" class="btn btn-warning" name="action" value="Cancel" />
                <input type="submit" class="showLoadingIcon btn btn-primary" name="action" value="Save" />

              </div>
            </div>


            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
          </div>
          <!-- PANEL INFO -->


          <!-- - -->
          <!-- SHOW API 
         -->

          <!-- PANEL SHOW API EXAMPLE -->
          <div th:if="${initial== null && action == 'Save'}" class="form-group">
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <p>Make API successfully!</p>
            </div>
          </div>

          <div th:if="${initial== null && action != 'Save'}" class="form-group">
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <p>fail to make API</p>
            </div>
          </div>

          <div th:if="${action == 'Save' }" class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <i class="fa fa-window-maximize" aria-hidden="true"></i>
                Show API
              </h3>
            </div>
            <div>
              <div class="panel-body">
                <div>
                  <p>
                    <label for="showApiName">API name:</label>
                    <span class="label label-info" th:text="${savedApi.apiName}"></span>
                  </p>
                  <p>
                    <label for="showApiPath">API path:</label>
                    <kbd th:text="${pythonServerUrl} + ${savedApi.apiPath}"> </kbd>
                  </p>

                  <label for="showApiOutput">API Input Json</label>
                  <pre class="pre-scrollable" th:text="${inputToJson}"></pre>

                  <label for="showApiOutput">API Output Json</label>
                  <pre class="pre-scrollable" th:text="${outputToJson}"></pre>

                </div>



              </div>
              <!-- /panel body -->


            </div>
            <!-- /div th:if -->

          </div>
          <!-- /panel -->

          <div class="form-group">
            <input type="submit" class="btn btn-info" name="action" value="Back To Project" />
          </div>
        </form>
        <!-- /FORM -->
      </div>
      <!-- /MAIN COL-10 -->

    </div>
    <!-- /ROW -->
  </div>
  <!-- /container -->



  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <div th:replace="fragments/sidebar :: sidebar-js"></div>
</body>
</html>