<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>InAnalysis</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

  <div th:replace="fragments/header :: header"></div>

  <div id="container" class="container-fluid">
    <div class="row">


      <div th:if="${csvInfo}" id="mainCol" class="col-md-8 col-md-push-2">
        <form method="POST" action="/model-info">
          <input type="hidden" name="projectId" th:value="${csvInfo.projectId}"></input>
          <input type="hidden" name="fileId" th:value="${csvInfo.fileId}"></input>
          <input type="hidden" name="modelId" th:value="${modelInfo.modelId}"></input>


          <h3>Model Info</h3>

          <div class="well well-sm">
            Model Name:
            <span th:text="${modelInfo.modelName}">model name</span>
          </div>
        </form>

        <div th:if="${csvInfo.projectType.equlas('clustering')}" th:replace="modelinfo/clustering-model :: header"></div>
        <div th:if="${csvInfo.projectType.equlas('regression')}" th:replace="modelinfo/regression-model :: header"></div>
        <div th:if="${csvInfo.projectType.equlas('classification')}"
          th:replace="modelinfo/classification-model :: header"></div>
        <div th:if="${csvInfo.projectType.equlas('abnormal-detection')}"
          th:replace="modelinfo/abnormal-detection-model :: header"></div>
        <a class="btn btn-primary btn-md" th:href="${'/project/' + csvInfo.projectId + '/model-management'}">Back</a>
      </div>
      <!-- /COLUMN-->

    </div>
    <!-- /ROW -->
  </div>
  <!-- end container -->

  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <div th:replace="fragments/sidebar :: sidebar-js"></div>
</body>
</html>
