<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>InPossible</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<div id="container" class="container-fluid">
		<div class="row">

			<!-- SideBar -->
			<div class="col-md-2"
				th:if="${project.type.equals('abnormal-detection')||project.type.equals('regression')||project.type.equals('classification')}">
				<div th:replace="fragments/sidebar :: sidebar"></div>
			</div>

			<!-- /SideBar -->
			<!-- -----------------------------------main------------------------------------------------- -->
			<div id="mainCol" class="col-md-10">

				<div
					th:if="${dataPreProcessFileList.size() == 0 && featureSelectionFileList.size() == 0 && modelTrainingFileList.size() == 0}"
					class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<p>
						<i class="fa fa-lightbulb-o fa-2x fa-spin fa-fw" aria-hidden="true"></i>
						You need to upload CSV file for Data Pre-processing. Select file and stage, then press
						<button class="btn btn-primary">Upload</button>
						button.
					</p>
				</div>

				<div
					th:if="${dataPreProcessFileList.size() > 0 && featureSelectionFileList.size() == 0 && modelTrainingFileList.size() == 0}"
					class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<p>
						<i class="fa fa-lightbulb-o fa-2x fa-spin fa-fw" aria-hidden="true"></i>
						You need to press
						<a class="btn btn-primary btn-xs">Data Pre-processing</a>
						button in
						<strong>Uploaded CSV File List</strong>
						for Data Pre-processing.
					</p>
				</div>


				<div
					th:if="${dataPreProcessFileList.size() > 0 && featureSelectionFileList.size() > 0 && modelTrainingFileList.size() == 0}"
					class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<p>
						<i class="fa fa-lightbulb-o fa-2x fa-spin fa-fw" aria-hidden="true"></i>
						You need to press
						<a class="btn btn-primary btn-xs">Feature Selection</a>
						button in
						<strong>After Data Pre-processing File List</strong>
						for Feature Selection.
					</p>
				</div>

				<div
					th:if="${dataPreProcessFileList.size() > 0 && featureSelectionFileList.size() > 0 && modelTrainingFileList.size() > 0}"
					class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<p>
						<i class="fa fa-lightbulb-o fa-2x fa-spin fa-fw" aria-hidden="true"></i>
						You need to press
						<a class="btn btn-primary btn-xs">Model Training</a>
						button in
						<strong>After Feature Selection File List</strong>
						for Model Training.
					</p>
				</div>

				<!-- -------------------------------------------row for model management---------------------------------- -->

				<div class="row">
					<div class="col-md-10">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									Check your models
									<i class="fa fa-hand-o-right" aria-hidden="true"></i>
									<a class="btn btn-warning btn-md" th:href="${'/project/' + project.id + '/model-management'}">Model
										Management</a>
								</h3>
							</div>
						</div>
					</div>
				</div>
				<!-- /row -->
				<!-- --------------------------------------------/row for model management-------------------------------- -->




				<!-- -----------------------------------row for upload ------------------------------------------------- -->
				<div class="row">
					<div class="col-md-2 col-md-push-10">
						<ul class="list-group bg-info">
							<li th:if="${pythonServerStatus}" class="list-group-item list-group-item-success">
								<i class="fa fa-cubes" aria-hidden="true"></i>
								Python Server
								<span class="label label-success">ON</span>
							</li>
							<li th:if="${!pythonServerStatus}" class="list-group-item list-group-item-danger">
								<i class="fa fa-cubes" aria-hidden="true"></i>
								Python Server
								<span class="label label-danger">OFF</span>
							</li>


							<li class="list-group-item list-group-item-info">
								<i class="fa fa-hand-o-down" aria-hidden="true"></i>
								KDD Process
								<span class="label label-info" th:text="${'Type'+' : '+projectTypeTemp}"></span>
							</li>

						</ul>
					</div>
					<!-- /col-md-2 col-md-push-10 for right-->
					<!-- fragements file-upload -->
					<div th:if="${projectTypeTemp.equlas('regression')}" th:replace="fileupload/upload-panel-regression :: header"></div>


				</div>
				<!-- -----------------------------------/row for upload ------------------------------------------------- -->


				<!-- -----------------------------------CSV File List Tabel(4)---------------------------------------------->
				<div th:replace="fileupload/upload-to-data-preprocess :: header"></div>
				<div th:replace="fileupload/upload-to-feature-selection :: header"></div>
				<div th:replace="fileupload/upload-to-model-training :: header"></div>
				<div th:replace="fileupload/upload-to-model-predict :: header"></div>
				<!-- -----------------------------------/CSV File List Tabel(4)---------------------------------------------->
				<!-- -----------------------------------footer------------------------------------------------- -->
				<footer class="text-right">
					<p>Copyright &copy; InPossible | Designed by Alice</p>
					<!-- 回到上方的連結 -->
					<ul class="nav pull-right scroll-top">
						<li>
							<a href="#" title="Scroll to top">
								<i class="glyphicon glyphicon-chevron-up"></i>
							</a>
						</li>
					</ul>
					<!-- /回到上方的連結 -->
				</footer>
				<!-- -----------------------------------/footer------------------------------------------------- -->
			</div>
			<!-- -----------------------------------/main------------------------------------------------- -->



		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<div th:replace="fragments/sidebar :: sidebar-js"></div>
</body>
</html>