<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>InAnalysis</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

  <div th:replace="fragments/header :: header"></div>

  <div id="container" class="container-fluid">

    <div class="row">

      <div class="col-md-2 col-md-push-10">
        <ul class="list-group bg-info">
          <li th:if="${pythonServerStatus}" class="list-group-item list-group-item-success">
            <i class="fa fa-cubes" aria-hidden="true"></i>
            Python Server
            <span class="label label-success">ON</span>
          </li>
          <li th:if="${!pythonServerStatus}" class="list-group-item list-group-item-danger">
            <i class="fa fa-cubes" aria-hidden="true"></i>
            Python Server
            <span class="label label-danger">OFF</span>
          </li>

          <li th:if="${rServerStatus}" class="list-group-item list-group-item-success">
            <i class="fa fa-cubes" aria-hidden="true"></i>
            R Server
            <span class="label label-success">ON</span>
            <span class="label label-warning" th:if="${!rServerStatus}">OFF</span>
          </li>
          <li th:if="${!rServerStatus}" class="list-group-item list-group-item-danger">
            <i class="fa fa-cubes" aria-hidden="true"></i>
            R Server
            <span class="label label-danger">OFF</span>
          </li>
        </ul>
      </div>
      <!-- /col-md-2 col-md-push-10 for serverStatus -->

      <div class="col-md-10 col-md-pull-2">

        <!-- Create Project Panel -->
        <div class="panel panel-info">

          <div class="panel-heading">
            <h3 class="panel-title">New Project</h3>
          </div>

          <form method="POST" action="/create-project">
            <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->

            <div class="panel-body">

              <div class="form-group">
                <label for="fileUploadServerList"> Analysis Server</label>
                <div id="fileUploadServerList" class="btn-group" data-toggle="buttons">
                  <label th:if="${pythonServerStatus}" class="btn btn-default active">
                    <input type="radio" name="server" value="PYTHON" checked="checked" />
                    Python
                  </label>
                  <label th:if="${rServerStatus}" class="btn btn-default">
                    <input type="radio" name="server" value="R" />
                    R
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label for="createProjectType">Project Type</label>
                <div id="createProjectType" class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default active">
                    <input type="radio" name="projectType" value="abnormal-detection" checked="checked" />
                    Abnormal Detection
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="projectType" value="regression" />
                    Regression
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="projectType" value="classification" />
                    Classification
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="projectType" value="clustering" />
                    Clustering
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label for="project-name">Project Name:</label>
                <input id="projectName" type="text" name="projectName" class="form-control" placeholder="new project"
                  th:field="*{createProjectParam.projectName}" />
              </div>

              <div class="form-group">
                <input type="submit" class="showLoadingIcon btn btn-primary" name="action" value="Create Project" />
              </div>

            </div>

          </form>
        </div>
        <!-- /Create Project Panel -->

        <!--  <div th:if="${project.size() > 0}" class="panel panel-default"> -->
        <div class="panel panel-success">

          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-list" aria-hidden="true"></i>
              My Projects
            </h3>
          </div>

          <div class="panel-body">

            <form method="POST" action="/project-management">
              <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->

              <div class="table-responsive">
                <table class="table table-bordered" id="data-preprocess-file-list">
                  <thead>
                    <tr>
                      <th>Project Name</th>
                      <th>Type</th>
                      <th>File Number</th>
                      <th>Model Number</th>
                      <th>KDD</th>
                      <th th:if="${temp}">
                        <!-- <a class="showLoadingIcon btn btn-warning btn-xs" aria-label="Edit">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a> -->
                        Update

                      </th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="projectInfo : ${projectList}">
                      <td th:text="${projectInfo.name}">Project Name</td>
                      <td th:text="${projectInfo.type}">Type</td>
                      <td th:text="${#lists.size(projectInfo.csvs)}">#ofCsvs</td>
                      <td th:text="${#lists.size(projectInfo.models)}">#ofModels</td>
                      <td>
                        <a class="btn btn-success btn-xs"
                          th:href="${#mvc.url('PC#toProjectPage').arg(0, projectInfo.id).build()}" data-toggle="tooltip"
                          data-placement="bottom" title="Click to enter KDD Process">KDD</a>
                      </td>
                      <td th:if="${temp}">
                        <input type="hidden" name="projectId" th:value="${projectInfo.id}"></input>
                        <input type="hidden" name="projectType" th:value="${projectInfo.type}"></input>

                        <!-- Button to trigger modal 
                         th:href="${projectInfo.id}"
                        -->
                        <a th:href="'#'+${projectInfo.id}" role="button" class="btn btn-info btn-xs" data-toggle="modal">Rename</a>

                        <!-- Modal -->

                        <div class="modal fade bs-example-modal-xs" th:id="${projectInfo.id}" tabindex="-1"
                          role="dialog" aria-labelledby="#myModalLabel">
                          <div class="modal-dialog modal-xs" role="document">
                            <div class="modal-content">
                              <div class="modal-header bg-primary">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">

                                <div class="panel-body">
                                  <div class="form-group">
                                    <label>Project Name</label>
                                    <input type="text" class="form-control" name="newFileName"
                                      th:placeholder="${projectInfo.name}" />

                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <!-- TODO
 <input type="submit" class="showLoadingIcon btn btn-primary" name="action" value="Save"></input>
 -->

                                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>

                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /model -->


                      </td>

                      <td>
                        <a class="showLoadingIcon btn btn-danger btn-xs" th:href="${projectInfo.deleteUrl}"
                          aria-label="Delete">
                          <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </form>
            <!-- /form in my project -->

          </div>
          <!-- // panel-body my project-->

        </div>
        <!-- //CLASS="panel panel-default" MY PROJECT -->

        <footer class="text-right">
          <p>Copyright &copy; InAnalysis | Designed by Alice</p>
          <!-- 回到上方的連結 -->
          <ul class="nav pull-right scroll-top">
            <li>
              <a href="#" title="Scroll to top">
                <i class="glyphicon glyphicon-chevron-up"></i>
              </a>
            </li>
          </ul>
          <!-- /回到上方的連結 -->
        </footer>

      </div>
    </div>
    <!--  /.row-->

  </div>
  <!-- /container -->

  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

  <div th:replace="fragments/sidebar :: sidebar-js"></div>


</body>
</html>