<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>InAnalysis</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
  <div th:replace="fragments/header :: header"></div>
  <div id="container" class="container-fluid">
    <div class="row">

      <!-- Main -->
      <div id="mainCol" class="col-md-8 col-md-push-2 col-md-pull-2">


        <div class="panel panel-success">

          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-list" aria-hidden="true"></i>
              Data Preview
            </h3>
          </div>

          <div class="panel-body">

            <form method="POST" action="/show-chart">
              <input type="hidden" name="projectId" th:value="${projectId}"></input>
              <input type="hidden" name="fileId" th:value="${fileId}"></input>
              <input th:if="${imgUrl}" type="hidden" name="imageUrl" value="${imgUrl}"></input>
              <div th:if="${imgUrl}">
                <img class="img-responsive" th:src="${imgUrl}" />
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary" name="action" value="Back" />
              </div>
            </form>
            <!-- /form in my project -->

          </div>
          <!-- // panel-body my project-->

        </div>
        <!-- //CLASS="panel panel-default" MY PROJECT -->
      </div>
      <!-- /Main -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->

  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <div th:replace="fragments/sidebar :: sidebar-js"></div>
</body>
</html>