<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>InAnalysis</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

  <div th:if="${csvInfo}" class="col-md-10">
    <!-- fragment -->
    <div th:if="${csvInfo.projectType.equals('clustering')}" th:fragment="header">
      <form method="POST" action="/clustering-model-info">
        <input type="hidden" name="projectId" th:value="${csvInfo.projectId}"></input>
        <input type="hidden" name="fileId" th:value="${csvInfo.fileId}"></input>
        <input type="hidden" name="modelId" th:value="${modelInfo.modelId}"></input>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Model Viewer</h3>
          </div>

          <div class="form-group">
            <div class="panel-body">
              <div class="form-inline">
                <label>X-coordinate</label>
                <select class="form-control" name="x" th:field="*{previewParam.x}">
                  <option th:each="columnName : ${csvInfo.columnNames}" th:value="${columnName}" th:text="${columnName}">Column
                    Name</option>
                </select>
                <label>Y-coordinate</label>
                <select class="form-control" name="y" th:field="*{previewParam.y}">
                  <option th:each="columnName : ${csvInfo.columnNames}" th:value="${columnName}" th:text="${columnName}">Column
                    Name</option>
                </select>
                <input type="submit" class="showLoadingIcon btn btn-primary" name="action" value="View" />
              </div>
            </div>

            <div th:if="${imageUrl}">
              <img th:src="${imageUrl}" />
            </div>
          </div>



        </div>
        <!-- /preview/panel-Plot -->

      </form>
    </div>
    <!-- /fragment -->

  </div>
  <!-- /COLUMN-->


  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
